---
import Layout from '@layouts/Layout.astro'
import { tags } from '@utilities/infoTags'
---

<Layout title='HTML TAGS with igris.dev'>
  <section class='grid place-content-center text-center h-32'>
    <h1 class='relative text-4xl mb-3 font-bold text-white'>
      HTML <span>TAGS</span>
    </h1>
    <p>Vistazo rápido a la funcionalidad de los <span>TAGS</span></p>
  </section>

  <section
    id='main'
    class='place-content-between gap-5'
  >
    {
      tags.map((tag) => (
        <>
          <>
            <article
              class={`contentTag ${tag.color} rounded-sm h-full flex items-center w-full`}
            >
              <h2 class='truncate w-[5rem] text-center text-sm p-1 font-semibold'>
                {tag.title}
              </h2>

              <section class='cardInfoHiddenTag p-2 w-full h-full'>
                <ul class='w-full h-full'>
                  {tag.information?.map((info) => (
                    <li class='flex h-full w-full gap-2'>
                      <div class='flex-1 bg-[#23262d] h-full rounded-md p-2'>
                        {info.code.bodyTag.split('\n').map((jumpLine) => (
                          <p>
                            {jumpLine}
                            <br />
                          </p>
                        ))}
                      </div>
                      <div class='flex-1'>
                        {info.images.map((image) => (
                          <img
                            src={image.src}
                            class='object-fill w-full h-full'
                          />
                        ))}
                      </div>
                    </li>
                  ))}
                </ul>
              </section>
            </article>
          </>
        </>
      ))
    }
  </section>
</Layout>

<style>
  #main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(5rem, 100%), 1fr));
    grid-auto-rows: 5rem;
    margin-top: 2rem;
  }

  .contentTag {
    cursor: pointer;
  }

  .cardInfoHiddenTag {
    display: none;
  }

  .cardBigTag {
    display: none;
  }

  .spanTag {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }

  @media screen and (min-width: 625px) {
    .spanTag {
      /* transition: all 1s ease; */
      grid-column-start: span 6;
      grid-row-start: span 3;
    }
  }
</style>

<script>
  const allTags = document.querySelectorAll('.contentTag')

  allTags.forEach((tag) => {
    tag.addEventListener('click', () => {
      allTags.forEach((otherTag) => {
        if (otherTag !== tag) {
          otherTag.classList.remove('spanTag')
          otherTag.querySelector('section').classList.add('cardInfoHiddenTag')
          otherTag.querySelector('h2').classList.remove('cardInfoHiddenTag')
        }
      })

      tag.querySelector('h2').classList.toggle('cardInfoHiddenTag')
      tag.querySelector('section').classList.toggle('cardInfoHiddenTag')
      tag.classList.toggle('spanTag')
    })
  })
</script>
