---
import Layout from '@layouts/Layout.astro'
import { tags } from '@utilities/infoTags'
---

<Layout title='HTML TAGS with igris.dev'>
  <section class='grid place-content-center text-center h-32'>
    <!-- esta en veremos -->
    <!-- <small class='absolute text-sm -top-2 -right-1'>igris.dev</small> -->
    <h1 class='relative text-4xl mb-3 font-bold text-white'>
      HTML <span>TAGS</span>
    </h1>
    <p>Vistazo rápido a la funcionalidad de los <span>TAGS</span></p>
  </section>

  <section
    id='main'
    class='place-content-between gap-5'
  >
    {
      tags.map((tag) => (
        <a
          href='#'
          class={`contentTag ${tag.color} rounded-sm grid place-items-center relative`}
        >
          <p class='truncate w-[3.5rem] text-center text-sm p-1'>{tag.title}</p>
        </a>
      ))
    }

    <article
      id='article'
      class=''
    >
      info
    </article>
  </section>
</Layout>

<style>
  #main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(3.5rem, 100%), 1fr));
    grid-auto-rows: 3.5rem;
    margin-top: 2rem;
  }

  .contentTag {
    /* grid-column-start: span 2; */
  }

  #article {
    display: block;
    background: black;
    grid-column: 4/15;
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 0.5rem;
  }

  /* @media screen and (min-width: 450px) {
      }

  @media screen and (min-width: 550px) {
      }

  @media screen and (min-width: 650px) {
      }

  @media screen and (min-width: 750px) {
    #article {
      display: block;
      background: black;
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 4;
      grid-row-end: 7;
      width: 100%;
      height: 100%;
      border-radius: 2px;
      padding: 0.5rem;
    }
  }

  @media screen and (min-width: 850px) {
      }

  @media screen and (min-width: 950px) {
      }

  @media screen and (min-width: 1050px) {
      }

  @media screen and (min-width: 1150px) {
      } */
</style>

<script>
  const tags = document.querySelectorAll('.contentTag')
  const viewInfo = document.getElementById('article')

  tags.forEach((tag) => {
    tag.addEventListener('mouseover', () => {
      const info = tag.textContent
      viewInfo.innerHTML = `${info}`
    })
  })
</script>
