---

---

<header class={Astro.props.class}>
  <a href='/'><span>HTML</span></a>

  <nav>
    <ul class='flex gap-10'>
      <li>
        <a
          href='/'
          class='hover:text-[#acf758] text-[#acf758]'
          >Inicio</a
        >
      </li>
      <li>
        <a
          href='/about'
          class='hover:text-[#acf758]'
          >About</a
        >
      </li>
    </ul>
  </nav>

  <section class='flex gap-2'>
    <a
      href='https://www.linkedin.com/in/johan-alvarez-847771227/'
      target='_blank'
      class='hover:scale-90'
    >
      <img
        src='/linkedin.svg'
        alt='linkedIn'
      />
    </a>

    <a
      href='https://github.com/igrisdev'
      target='_blank'
      class='hover:scale-90'
    >
      <img
        src='/github.svg'
        alt='GitHub'
      />
    </a>
  </section>
</header>
